- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого"
          },
          logo320: {
            src: "img/logo/logo320.png",
            alt: "Лого"
          },
          heading: "Эксперты по продаже квартир в Киеве",
          number: [
            {
              text: "8 050 79 652 89",
              href: "tel\:+80507965289"
            },
            {
              text: "8 067 59 633 14",
              href: "tel\:+80675963314"
            }
          ],
          call: {
            text: "Обратный звонок"
          },
          title: "Дорого продадим",
          subtitle: "Вашу квартиру в Киеве всего за 10 дней",
          text: "Узнайте 7 рекомендаций, которые помогут ускорить продажу Вашей квартиры",
          btn: "Получить бесплатный файл с рекомендациями"
        },
        intro: {
          heading: "Мы избавим Вас от всех сложностей",
          content: [
            {
              img: {
                src: "img/intro1.png",
                alt: "Иконка"
              },
              text: "<span class=\"intro__text--span\">Ваше время остается свободным,</span> а заботы по продаже Вашей квартиры мы берем на себя"
            },
            {
              img: {
                src: "img/intro2.png",
                alt: "Иконка"
              },
              text: "С нами Вы получите <span class=\"intro__text--span\">максимальную цену за Вашу квартиру.</span> Мы знаем, как продать дорого!"
            },
            {
              img: {
                src: "img/intro3.png",
                alt: "Иконка"
              },
              text: "Мы обеспечим юридически <span class=\"intro__text--span\">безопасную и комфортную сделку.</span>"
            },
            {
              img: {
                src: "img/intro4.png",
                alt: "Иконка"
              },
              text: "Благодаря <span class=\"intro__text--span\">12-ти летнему опыту</span> в сфере недвижимости мы научились продавать дорого и быстро"
            }
          ]
        },
        video: {
          heading: "Узнайте за 3 минуты все детали нашей работы на собственника",
          time: "3",
          elem1: "видео",
          elem2: "минуты"
        },
        tool: {
          heading: "При продаже недвижимости, мы используем 23 рекламных инструмента",
          subheading: "Самые основные из них:",
          content: [
            {
              name: "<span class=\"tool__name--span\">01.</span> Фото и видео",
              text: "Ваша квартира выделиться среди аналогичных объектов, благодаря: профессиональной фотосъемке, яркому ролику и продающему объявлению. На практике, интерес на Ваш объект вырастет в 2-3 раза.",
              img: {
                src: "img/tool1.png",
                alt: "Фотик"
              }
            },
            {
              name: "<span class=\"tool__name--span\">02.</span> Доски объявлений",
              text: "Уже на 3-й день Вы получите отчет о размещении квартиры на ТОP 30 сайтах недвижимости. В дальнейшем, наша задача регулярно обновлять публикации и сообщать Вам о результатах.",
              img: {
                src: "img/tool2.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">03.</span> Реклама в интернете",
              text: "Для вашей квартиры будет создан специальный сайт на котором мы разместим фотографии квартиры и информацию. Затем настроим рекламу в интернете, чтобы привлечь потенциальных покупателей.",
              img: {
                src: "img/tool3.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">04.</span> Совместные продажи",
              text: "Работая с нами Вы не ограничиваетесь работой с 20-30 риэлторами, мы привлекаем более 3000 агентов к продаже Вашего объекта.",
              img: {
                src: "img/tool4.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">05.</span> Создание спроса",
              text: "Просмотр квартиры назначается на один день для всех заинтересованных. Покупатели подают предложения по цене в письменном виде. Цель - получить максимальное предложение по стоимости. Благодаря этому квартира продается на 5-15% дороже от стартовой цены.",
              img: {
                src: "img/tool5.png",
                alt: ""
              }
            },
          ]
        },
        price: {
          heading: "Динамика цен на недвижимость в Киеве",
          title: "Не ждите пока цена на вашу недвижимость станет ещё ниже",
          text: "Продайте квартиру сейчас <span class=\"price__text--span\">на 35% дороже,</span> чем через пол года. Действуйте прямо сейчас и Ваша квартира будет продана уже в этом месяце!",
          img: {
            src: "img/graphic.jpg",
            alt: "График"
          },
          bg: {
            src: "img/pricebg.png",
            alt: "Дом"
          }
        },
        cost: {
          heading: "Получите бесплатную оценку Вашей квартиры в течении 24 часов",
          subheading: "Вы узнаете точную цену на основе сравнительного анализа похожих объектов на рынке (существующих и уже проданных)",
          form: {
            title: "Ваш номер телефона",
            btn: "Узнать рыночную стоимость квартиры"
          }
        }
      }, //- index
    }