- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.ico",
          appleTouchIcon: "apple-touch-icon.ico"
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      success: {
        hostname: "success.html",
        title: "Спасибо за заявку",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        content: {
          heading: "<span class=\"success__heading--span\">Спасибо,</span> что обратились в БГ деловая!",
          text: "Скоро с Вами свяжется наш эксперт. Подписывайтесь на нашу группу в facebook и следите за новостями БГ Деловая и рынка недвижимости в целом"
        }
      },
      indexb: {
        hostname: "indexb.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "БГ Деловая - Эксперты по продаже недвижимости в Киеве",
            siteName: "БГ Деловая",
            description: "Продадим Вашу квартиру за 12 дней по цене на 10-15% выше рыночной",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        }
      },
      indexc: {
        hostname: "indexc.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "БГ Деловая - Эксперты по продаже недвижимости в Киеве",
            siteName: "БГ Деловая",
            description: "Продадим Вашу квартиру за 12 дней по цене на 10-15% выше рыночной",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        }
      },
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "БГ Деловая - Эксперты по продаже недвижимости в Киеве",
            siteName: "БГ Деловая",
            description: "Продадим Вашу квартиру за 12 дней по цене на 10-15% выше рыночной",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          logo: {
            src: "img/logo/logo.png",
            alt: "Лого"
          },
          logo320: {
            src: "img/logo/logo320.png",
            alt: "Лого"
          },
          heading: "Эксперты по продаже недвижимости в Киеве",
          number: [
            {
              text: "8 097 118 10 10",
              href: "tel\:+80971181010"
            }
          ],
          call: {
            text: "Обратный звонок"
          },
          title: "Дорого продадим",
          titleb: "Продаете квартиру?",
          titlec: "Получите задаток",
          subtitle: "Вашу квартиру в Киеве всего за 10 дней",
          subtitleb: "У нас есть <span class=\"heading__text--client\">57</span> клиентов, которые ищут жилье в Киеве прямо сейчас! Возможно ваша квартиру подойдет одному из них!",
          subtitlec: "на Вашу квартиру всего через 10 дней",
          text: "Узнайте 7 рекомендаций, которые помогут ускорить продажу Вашей квартиры",
          textb: "Узнайте, есть ли покупатель на вашу квартиру!",
          textc: "Узнайте, как мы продадим недвижижимость по цене на 10% выше рыночной",
          btn: "Получить консультацию эксперта бесплатно",
          btnb: "Узнать о возможным покупателях",
          btnc: "ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ РИЭЛТОРА"
        },
        intro: {
          heading: "Мы избавим Вас от всех сложностей",
          content: [
            {
              img: {
                src: "img/intro1.png",
                alt: "Иконка"
              },
              text: "<span class=\"intro__text--span\">Ваше время остается свободным,</span> а заботы по продаже Вашей квартиры мы берем на себя"
            },
            {
              img: {
                src: "img/intro2.png",
                alt: "Иконка"
              },
              text: "С нами Вы получите <span class=\"intro__text--span\">максимальную цену за Вашу квартиру.</span> Мы знаем, как продать дорого!"
            },
            {
              img: {
                src: "img/intro3.png",
                alt: "Иконка"
              },
              text: "Мы обеспечим юридически <span class=\"intro__text--span\">безопасную и комфортную сделку.</span>"
            },
            {
              img: {
                src: "img/intro4.png",
                alt: "Иконка"
              },
              text: "Благодаря <span class=\"intro__text--span\">12-ти летнему опыту</span> в сфере недвижимости мы научились продавать дорого и быстро"
            }
          ]
        },
        video: {
          heading: "Узнайте за 3 минуты все детали нашей работы на собственника",
          time: "3",
          elem1: "видео",
          elem2: "минуты"
        },
        tool: {
          heading: "При продаже недвижимости, мы используем 23 рекламных инструмента",
          subheading: "Самые основные из них:",
          content: [
            {
              name: "<span class=\"tool__name--span\">01.</span> Фото и видео",
              text: "Ваша квартира выделиться среди аналогичных объектов, благодаря: профессиональной фотосъемке, яркому ролику и продающему объявлению. На практике, интерес на Ваш объект вырастет в 2-3 раза.",
              img: {
                src: "img/tool1.png",
                alt: "Фотик"
              }
            },
            {
              name: "<span class=\"tool__name--span\">02.</span> Доски объявлений",
              text: "Уже на 3-й день Ваша квартира займет лидирующие позиции на 30 самых популярных сайтах недвижимости. <div class=\"tool__name--link\"><i class=\"fa fa-question-circle\" aria-hidden=\"true\"></i><div class=\"tool__name--hover\"></div></div> При самостоятельном поиске, потенциальный покупатель точно увидит Вашу квартиру и запишутся на просмотр.",
              img: {
                src: "img/tool2.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">03.</span> Реклама в интернете",
              text: "Для вашей квартиры будет создан презентационный сайт с ярким описанием и фотографиями. Покупатели легко узнают детали вашей квартиры просто перейдя по ссылке. Следующим шагом мы разместим рекламу в Facebook, Instagram и Google. Рекламные объявления увидит только целевая аудитория, заинтересованная в покупке Вашей квартиры.",
              img: {
                src: "img/tool3.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">04.</span> Совместные продажи",
              text: "Мы сотрудничаем более чем с 3000 агентами на рынке Киева. Это значит, что в продаже Вашей квартиры будут заинтересованы все риэлторы, работающие с аналогичными объектами в данном ценовом сегменте. Теперь Вы не ограничиваетесь работой с 20-30 специалистами, которых могли бы привлечь лично.",
              img: {
                src: "img/tool4.png",
                alt: ""
              }
            },
            {
              name: "<span class=\"tool__name--span\">05.</span> Создание спроса",
              text: "Просмотр квартиры для покупателей назначается на один день с интервалом в 15 минут. Соперничество порождает больший интерес и люди готовы платить больше. Благодаря этому, квартира может быть продана на 10-15% дороже от стартовой цены.",
              img: {
                src: "img/tool5.png",
                alt: ""
              }
            },
          ]
        },
        price: {
          heading: "Динамика цен на недвижимость в Киеве",
          title: "Не ждите пока цена на вашу недвижимость станет ещё ниже",
          text: "Продайте квартиру сейчас <span class=\"price__text--span\">на 35% дороже </span><div class=\"price__text--link\"><i class=\"fa fa-question-circle\" aria-hidden=\"true\"></i><span class=\"price__text--hover\">35% высчитывается как сумма двух показателей:<br>15% - это показатель на который мы продадим Вашу квартиру дороже, относительно рыночной стоимости<br>20% - это показатель среднерыночного снижения цены за пол года<br></span></div>, чем через пол года. Действуйте прямо сейчас и Ваша квартира будет продана уже в этом месяце!",
          img: {
            src: "img/graphic.jpg",
            src2: "img/graphicbig.jpg",
            alt: "График"
          },
          bg: {
            src: "img/pricebg.png",
            alt: "Дом"
          }
        },
        cost: {
          heading: "Получите бесплатную оценку Вашей квартиры в течении 24 часов",
          subheading: "Вы узнаете точную цену на основе сравнительного анализа похожих объектов на рынке (существующих и уже проданных)",
          form: {
            title: "Ваш номер телефона",
            btn: "Узнать рыночную стоимость квартиры"
          }
        },
        scheme: {
          heading: "Гарантированный спрос на Вашу квартиру уже через 8 дней",
          text: "Сегодня",
          content: [
            {
              number: "1",
              class: "scheme__col--animate",
              text: "Предварительная<br> оценка",
              date: "0",
              hover: {
                title: "Определение стоимости",
                text: "Залогом успешной продажи квартиры, является правильная стартовая стоимость. Перед тем как ее сформулировать, мы:<br>1) Узнаем по какой цене были проданы аналогичные квартиры за последние 9 месяцев.<br>2) Находим все актуальные предложения из данного сегмента. Также собираем информацию по каким ценам они продаются и как давно.<br>3) САМОЕ ВАЖНОЕ! Мы узнаем все детали об этих квартирах: сколько им поступает звонков, как много просмотров, и какие им поступают предложения от покупателей.<br>На основе вышеперечисленных данных формируем правильную стартовую цену."
              }
            },
            {
              number: "2",
              class: "scheme__col--animate",
              text: "Предпродажная<br> подготовка",
              date: "1",
              hover: {
                title: "Предпродажная подготовка",
                text: "На любом виде рынка, внешний вид продукта имеет ключевое значение. Для получения максимальной цены за квартиру уделите особое внимание ее внешнему виду. Так обычно выставляю квартиру к продаже сами владельцы:<br>До:<br><img src=\"img\/before2.jpg\" alt=\"До\"><img src=\"img\/before3.jpg\" alt=\"До\"><br>Мы всегда рекомендуем убрать: личные вещи, кухонный и другой гарнитур, старые ненужные предметы. В квартире наводится чистота и порядок. Так обычно выглядит квартира после предпродажной подготовки:<br>После:<br><img  src=\"img\/after2.jpg\" alt=\"После\"><img src=\"img\/after3.jpg\" alt=\"После\">"
              }
            },
            {
              number: "3",
              text: "Рекламная<br> кампания",
              date: "3",
              hover: {
                title: "Рекламная кампания",
                text: "После подготовки презентационного материала мы начинаем крупную маркетинговую кампанию. Информацию о Вашей квартире увидит большинство потенциальных клиентов. Для этого мы используем:<br>1) Показ рекламы в Instagram и Facebook аудитории заинтересованной в покупке Вашей квартиры. Реклама ведет на презентационный сайт.<br>2) Ссылка на сайт квартиры займет лидирующее позиции в Google по 300 - 1257 ключевым запросам. Пример: “Купить квартиру в Киеве”, “Квартира в Печерском районе”, “Купить элитную недвижимость Киев” и т. п.<br>3) Размещение на 32 самых популярных площадках недвижимости в интернете.<br>4) Внесение в базы объекта более 15-ти агентств недвижимости в Киеве.<br>5) Наружная реклама<br>6) Оповещение всех агентов работающих в данном ценовом сегменте с помощью закрытых риэлторских сообществ, а также групп в: Viber, Telegram и Line."
              }
            },
            {
              number: "4",
              class: "scheme__col--animate",
              text: "День<br> показа",
              date: "3",
              hover: {
                title: "День показа квартиры",
                text: "Презентация показа квартиры, проводится в один день с  интервалом в 15 минут. Это создает максимальный  спрос  среди всех потенциальных покупателей.  Далее мы собираем предложения по цене в письменном виде. Как правило, 30% людей готовых приобрести квартиру делают письменное ценовое  предложения."
              }
            },
            {
              number: "5",
              class: "scheme__col--animate",
              text: "Работа<br> с предложениями",
              date: "1",
              hover: {
                title: "Работа с предложениями",
                text: "Для получения максимальной цены мы прозваниваем всех, кто оставил письменное предложение. Квартира предлагается покупателю, который предложит лучшую цену."
              }
            },
            {
              number: "6",
              text: "Результат",
              date: "1",
              hover: {
                title: "Результат",
                text: "На 8 день работы Вы получаете самое выгодное предложение. В этот день мы оформляем задаток на продажу Вашей квартиры."
              }
            }
          ]
        },
        case: {
          heading: "Успешно проданные объекты",
          slides: [
            {
              img: {
                src: "img/case1.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "Ул. Тимошенко, 21<br>3 комнатная квартира, 108 м<sup>2</sup><br>Просторная видовая квартира в современном кирпичном доме на Оболони."
                },
                {
                  title: "Действия по объекту",
                  text: "С помощью массовой рекламной кампании, в день показа было собрано 13 потенциальных покупателей. Квартира была продана с помощью контекстной рекламы."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "10 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "170 000 $"
                },
                {
                  detail: "Цена продажи:",
                  value: "180 000 $"
                }
              ]
            },
            {
              img: {
                src: "img/case2.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "Ул. Оболонский проспект, 54<br>3 комнатная квартира, 75.3 м<sup>2</sup> 11-й этаж.<br>Светлая и просторная квартира с авторским ремонтом."
                },
                {
                  title: "Действия по объекту",
                  text: "Был снят презентационный ролик: https://youtu.be/O3xPq0gBQd4. Проведен день открытых дверей. В день показа было собрано 17 потенциальных покупателей. Квартира была продана по системе партнерских продаж."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "10 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "137 000 $"
                },
                {
                  detail: "Цена продажи:",
                  value: "146 500 $"
                }
              ]
            },
            {
              img: {
                src: "img/case3.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "С. Новое, Киево —  Святошинский район<br>2-х этажный дом, общая площадь — 325 м<sup>2</sup>. Участок —  15 соток.<br>Эксклюзивный особняк с выходом к бассейну и бане."
                },
                {
                  title: "Действия по объекту",
                  text: "Проведен день открытых дверей. В день показа было собрано 5 потенциальных покупателей. Дом был продан по системе партнерских продаж с помощью закрытой группы в Telegram. До этого дом продавался другими агентствами более 3 лет."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "14 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "245 000 $"
                },
                {
                  detail: "Цена продажи:",
                  value: "250 000 $"
                }
              ]
            },
            {
              img: {
                src: "img/case4.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "Ул. Спасская, 55 (Вышгород)<br>4-х этажный дом, общая площадь — 247,9 м<sup>2</sup>.<br>Дом с дизайнерским ремонтом и ландшафтный дизайн во дворе."
                },
                {
                  title: "Действия по объекту",
                  text: "С помощью массовой рекламной кампании, в день показа было собрано 7 потенциальных покупателей. Дом был продан с помощью одностраничного сайта. До этого дом продавался другими агентствами два с половиной года."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "7 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "205 000 у.е."
                },
                {
                  detail: "Цена продажи:",
                  value: "215 000 у.е."
                }
              ]
            },
            {
              img: {
                src: "img/case5.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "Панаса Мирного, 28а<br>2 комнатная квартира, 86 м<sup>2</sup>.<br>Квартира-студия в престижном районе Киева."
                },
                {
                  title: "Действия по объекту",
                  text: "С помощью массовой рекламной кампании, в день показа было собрано 9 потенциальных покупателей. Квартира была продана по системе партнерских продаж с помощью закрытой группы в Viber. До этого она продавалась другими агентствами 4 года."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "9 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "178 000 $"
                },
                {
                  detail: "Цена продажи:",
                  value: "180 000 $"
                }
              ]
            },
            {
              img: {
                src: "img/case6.jpg",
                alt: "Дом"
              },
              name: "Название объекта",
              descr: [
                {
                  title: "Описание объекта",
                  text: "Ул. Оболонский проспект, 54<br>1 комнатная квартира, 45 м<sup>2</sup> 9-й этаж.<br>Дизайнерская квартира в стиле «эко-минимализм» 2016 г."
                },
                {
                  title: "Действия по объекту",
                  text: "Проведен день открытых дверей. В день показа было собрано 14 потенциальных покупателей. Квартира была продана с помощью размещения на 35 сайтах недвижимости."
                }
              ],
              info: [
                {
                  detail: "Срок реализации:",
                  value: "8 дней"
                },
                {
                  detail: "Стартовая цена:",
                  value: "89 000 $"
                },
                {
                  detail: "Цена продажи:",
                  value: "97 000 $"
                }
              ]
            }
          ]
        },
        progress: {
          heading: "Наши достижения",
          img: {
            src: "img/creater.jpg",
            alt: "Директор"
          },
          name: "Алексей Мурин",
          pos: "Генеральный директор",
          content: [
            {
              text: "12 лет успешных продаж элитной недвижимости в Киеве"
            },
            {
              text: "Лично продал более 350 объектов общей стоимостью в $73 000 000 "
            },
            {
              text: "2/3 всех объектов продал в первые 12 дней после подписания договора"
            },
            {
              text: "80% недвижимости продал по цене, которая оказалась выше рыночной"
            }
          ]
        },
        plan: {
          heading: "Продаете квартиру? У нас уже есть <span class=\"heading__text--client\">57</span> клиентов, которые ищут жилье в  Киеве прямо сейчас!",
          subheading: "<span class=\"plan__subheading--span\">Возможно ваша квартиру подойдет одному из них!</span> Оставьте свой номер телефона, чтобы мы с вами связались и смогли проверить наличие покупателей, которые ищут квартиру подобную вашей.",
          form: {
            title: "Ваш телефон",
            btn: "Узнать о возможных покупателях"
          }
        },
        comment: {
          heading: "Отзывы",
          slides: [
            {
              img: {
                src: "img/comment1.jpg",
                alt: "Автор"
              },
              name: "Анастасия Власова",
              text: "Меня зовут Анастасия Власова, хотела поделиться положительным отзывом о компании БГ Деловая в лице Евгения который помог нам в решении нашего жилищного вопроса. В короткие сроки купили и продали 4 квартиры. Рекомендую Евгения, как профессионального риэлтора."
            },
            {
              img: {
                src: "img/comment2.jpg",
                alt: "Автор"
              },
              name: "Анатолий",
              text: "По рекомендации знакомых обратился в \"Бизнес Группу Деловая\" к риелтору Наталье Кузнецовой за помощью в продаже 3-комнатной квартиры в Киеве. Агент оставила впечатление профессионала своего дела, дала дельные советы, очень оперативно нашла покупателя, подробно информировала на каждом этапе сделки, умела корректно решить все возникающие трудности. Результатом работы доволен, аналогично буду рекомендовать работать с вами!"
            },
            {
              img: {
                src: "img/comment3.jpg",
                alt: "Автор"
              },
              name: "Максим",
              text: "Случайно, без рекомендаций, обратились в агентство \"Бизнес Группа Деловая\" и случайно попали на риэлтора – Кузнецову Наталью. Уже после первой встречи не было никаких сомнений, что это \"наш человек\". Дом продавали больше года с помощью знакомого риэлтора, но без результатов. С Натальей вопрос решился за 2 недели. Очень внимательно, щепетильно, \"с душой\", и в то же время очень рационально Наталья подошла к решению нашего вопроса. Спасибо огромное! Все последующие сделки будем проводить только с помощью Натальи Кузнецовой!"
            },
            {
              img: {
                src: "img/comment4.jpg",
                alt: "Автор"
              },
              name: "Валентина Скарлато",
              text: "Меня зовут Валентина Скарлато! Я обратилась в компанию БГ Деловая по продаже однокомнатной квартиры. Мне посоветовали сотрудника Евгения Рудакова, сотрудничеством с ним я осталась очень довольна. Квартира была продана в кратчайшие сроки. Всем своим знакомым я буду советовать эту фирму и этого сотрудника."
            }
          ]
        },
        certificate: {
          heading: "Сертификаты",
          slides: [
            {
              img: {
                src: "img/cert1.png",
                alt: "Сертификат"
              },
              href: "img/cert1.png"
            },
            {
              img: {
                src: "img/cert1.png",
                alt: "Сертификат"
              },
              href: "img/cert1.png"
            },
            {
              img: {
                src: "img/cert1.png",
                alt: "Сертификат"
              },
              href: "img/cert1.png"
            },
            {
              img: {
                src: "img/cert1.png",
                alt: "Сертификат"
              },
              href: "img/cert1.png"
            }
          ]
        },
        contact: {
          heading: "Наши контакты",
          details: [
            {
              name: "Наш контактный адрес",
              text: "г. Киев, ул. Деловая 5, 4-й этаж"
            },
            {
              name: "Наш электронный адрес",
              text: "bg.delovaya@gmail.com"
            },
            {
              name: "Наш номер телефона",
              text: "097 118 10 10"
            }
          ]
        },
        footer: {
          img: {
            src: "img/logo.png",
            alt: "Лого"
          },
          text: "Агентство по продаже квартир",
          question: " Нужна помощь? Задайте вопрос специалисту!",
          btn: "Задать вопрос",
          copy: "Cделано с душой студией",
          well: {
            src: "img/well.png",
            alt: "Well Done",
            href: "#"
          }
        },
        modal: {
          header: {
            heading: "Продадим Вашу квартиру за 12 дней по цене на 10-15% выше рыночной",
            subheading: "Наш эксперт расскажет Вам об уникальной технологии продаж и уточнит детали по квартире. Оставьте контектный номер в поле ниже и мы Вам в ближайшее время",
            headingb: "Как быстро продать квартиру?",
            subheadingb: "Предложить ее уже существующим клиентам! Оставьте контактный номер и с Вами свяжется наш эксперт, чтобы узнать детали по квартире",
            btn: "Связаться с экспертом по недвижимости",
            access: "Мы гарантируем безопасность Ваших данных. Нажимая на кнопку, вы соглашаетесь с Политикой конфиденциальности"
          },
          footer: {
            subheading: "Мы знаем, что у вас есть много вопросов. Оставьте контактный номер и получите ответы от нашего эксперта в удобное для вас время.",
            btn: "Заказать звонок эксперта",
            access: {
              text: "Мы гарантируем безопасность Ваших данных. Нажимая на кнопку, вы соглашаетесь с ",
              link: {
                href: "#confident__modal",
                text: "Политикой конфиденциальности"
              }
            }
          }
        }
      }, //- index
    }