section.comment
  .container
    .row.justify-content-center
      .col-24.col-sm-20.col-lg-16.text-center
        h2.heading.comment__heading
          .heading__text.heading__text!=content.index.comment.heading 
          i.ic.ic--headingborder.heading__icon
  .container     
    .row
      .col-24
        .comment__slider  
          each item, i in content.index.comment.slides
            .comment__item
              .row
                .col-24.col-md-10
                  .comment__image
                    img.img-fluid(src!=item.img.src, alt!=item.img.alt)
                    .comment__button  
                      .comment__loader
                        .chart(data-percent="100")  
                .col-24.col-md-14.col-lg-12.offset-lg-2  
                  .comment__box
                    .comment__name!=item.name
                    .comment__info
                      .comment__text!=item.text
  .container                            
    .comment__arrows                           
    .comment__dots