section.descr#descr
  .container.descr__container
    .row.descr__row
      .col-24.col-lg-14
        .descr__image
          img.img-fluid(src="img/descr.png", alt="Команда")
      .col-24.col-lg-10.align-self-center 
        .descr__text!=content.index.descr.text

