footer.footer
  .container
    .row
      .col-22.offset-1.col-md-8.offset-md-0.col-lg-6
        .footer__logo
          .row
            .col-12
              .footer__logo--img
                img.img-fluid(src!=content.index.footer.img.src, alt!=content.index.footer.img.alt)
            .col-12.align-self-center 
              .footer__logo--text!=content.index.footer.text
      .col-22.offset-1.col-md-7.offset-md-0.col-lg-11.col-xl-12.align-self-center.text-center
        .footer__question!=content.index.footer.question  
      .col-20.offset-2.col-md-9.offset-md-0.col-lg-7.col-xl-6
        .footer__box
          button.button.button--size.footer__btn(type='button', data-toggle="modal", data-target="#footer__modal")!=content.index.footer.btn      
          .row
            .col-24.col-md-16
              .footer__copy!=content.index.footer.copy
            .col-24.col-md-8
              .footer__author 
                a.footer__author--link(href="#")
                  img.img-fluid(src!=content.index.footer.well.src, alt!=content.index.footer.well.alt)