section.plan
  .container.plan__container
    .row.justify-content-center.plan__row
      .col-24.col-sm-20.col-lg-14.offset-lg-10.text-center.text-lg-left
        h2.heading.plan__heading
          .heading__text.heading__text.heading__text--white!=content.index.plan.heading 
          i.ic.ic--headingborderright.heading__icon
        .plan__subheading!=content.index.plan.subheading 
      .col-24.col-sm-20.offset-sm-2.col-md-14.offset-md-10.col-lg-14.offset-lg-10
        form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
          .row
            .col-24.col-xl-9.form__group
              .input__heading.input__heading--black!=content.index.plan.form.title   
              input.form-control.form__input.form__input--small.form__mail(aria-invalid='false', placeholder="Введите Ваш E-mail", name='email', type='email')
            .col-24.col-xl-15.d-flex.align-items-end
              button.button.button--size.form__btn.plan__btn(name='form[контакты]', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")
                .plan__btn--text!=content.index.plan.form.btn
    .plan__icon
      i.ic.ic--kit1200.hidden-md-down
      i.ic.ic--kit760.hidden-lg-up           
