section.price
  .price__bg.hidden-md-down
    img.img-fluid(src!=content.index.price.bg.src, alt!=content.index.price.bg.alt)
  .container.price__container
    .price__bait - 
      .price__bait--random 150 
      | ₴
    .row.justify-content-center
      .col-24.col-md-16.col-lg-12.text-center
        h2.heading.price__heading
          span.heading__text!=content.index.price.heading 
          i.ic.ic--headingborder.heading__icon
    .row
      .col-24.col-md-12.text-center
        a.price__image(data-toggle="modal", href="#price__modal")
          img.img-fluid(src!=content.index.price.img.src, alt!=content.index.price.img.alt)
          .price__zoom  
            i.ic.ic--zoom
      .col-24.col-md-10.col-xl-12
        .price__box
          .price__title!=content.index.price.title
          .price__text!=content.index.price.text       