// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrowleft-name: 'arrowleft'
$arrowleft-x: 1790px
$arrowleft-y: 764px
$arrowleft-offset-x: -1790px
$arrowleft-offset-y: -764px
$arrowleft-width: 33px
$arrowleft-height: 7px
$arrowleft-total-width: 1886px
$arrowleft-total-height: 1425px
$arrowleft-image: 'sprite.png'
$arrowleft: (1790px, 764px, -1790px, -764px, 33px, 7px, 1886px, 1425px, 'sprite.png', 'arrowleft', )
$arrowright-name: 'arrowright'
$arrowright-x: 1747px
$arrowright-y: 764px
$arrowright-offset-x: -1747px
$arrowright-offset-y: -764px
$arrowright-width: 33px
$arrowright-height: 7px
$arrowright-total-width: 1886px
$arrowright-total-height: 1425px
$arrowright-image: 'sprite.png'
$arrowright: (1747px, 764px, -1747px, -764px, 33px, 7px, 1886px, 1425px, 'sprite.png', 'arrowright', )
$call-name: 'call'
$call-x: 1717px
$call-y: 764px
$call-offset-x: -1717px
$call-offset-y: -764px
$call-width: 20px
$call-height: 20px
$call-total-width: 1886px
$call-total-height: 1425px
$call-image: 'sprite.png'
$call: (1717px, 764px, -1717px, -764px, 20px, 20px, 1886px, 1425px, 'sprite.png', 'call', )
$createrline-name: 'createrline'
$createrline-x: 1768px
$createrline-y: 750px
$createrline-offset-x: -1768px
$createrline-offset-y: -750px
$createrline-width: 63px
$createrline-height: 1px
$createrline-total-width: 1886px
$createrline-total-height: 1425px
$createrline-image: 'sprite.png'
$createrline: (1768px, 750px, -1768px, -750px, 63px, 1px, 1886px, 1425px, 'sprite.png', 'createrline', )
$headingborder-name: 'headingborder'
$headingborder-x: 1767px
$headingborder-y: 628px
$headingborder-offset-x: -1767px
$headingborder-offset-y: -628px
$headingborder-width: 100px
$headingborder-height: 11px
$headingborder-total-width: 1886px
$headingborder-total-height: 1425px
$headingborder-image: 'sprite.png'
$headingborder: (1767px, 628px, -1767px, -628px, 100px, 11px, 1886px, 1425px, 'sprite.png', 'headingborder', )
$headingborderfff-name: 'headingborderfff'
$headingborderfff-x: 1767px
$headingborderfff-y: 649px
$headingborderfff-offset-x: -1767px
$headingborderfff-offset-y: -649px
$headingborderfff-width: 100px
$headingborderfff-height: 11px
$headingborderfff-total-width: 1886px
$headingborderfff-total-height: 1425px
$headingborderfff-image: 'sprite.png'
$headingborderfff: (1767px, 649px, -1767px, -649px, 100px, 11px, 1886px, 1425px, 'sprite.png', 'headingborderfff', )
$headingborderright-name: 'headingborderright'
$headingborderright-x: 1769px
$headingborderright-y: 576px
$headingborderright-offset-x: -1769px
$headingborderright-offset-y: -576px
$headingborderright-width: 111px
$headingborderright-height: 11px
$headingborderright-total-width: 1886px
$headingborderright-total-height: 1425px
$headingborderright-image: 'sprite.png'
$headingborderright: (1769px, 576px, -1769px, -576px, 111px, 11px, 1886px, 1425px, 'sprite.png', 'headingborderright', )
$headingborderrightblack-name: 'headingborderrightblack'
$headingborderrightblack-x: 1769px
$headingborderrightblack-y: 597px
$headingborderrightblack-offset-x: -1769px
$headingborderrightblack-offset-y: -597px
$headingborderrightblack-width: 101px
$headingborderrightblack-height: 11px
$headingborderrightblack-total-width: 1886px
$headingborderrightblack-total-height: 1425px
$headingborderrightblack-image: 'sprite.png'
$headingborderrightblack: (1769px, 597px, -1769px, -597px, 101px, 11px, 1886px, 1425px, 'sprite.png', 'headingborderrightblack', )
$kit1200-name: 'kit1200'
$kit1200-x: 0px
$kit1200-y: 947px
$kit1200-offset-x: 0px
$kit1200-offset-y: -947px
$kit1200-width: 505px
$kit1200-height: 478px
$kit1200-total-width: 1886px
$kit1200-total-height: 1425px
$kit1200-image: 'sprite.png'
$kit1200: (0px, 947px, 0px, -947px, 505px, 478px, 1886px, 1425px, 'sprite.png', 'kit1200', )
$kit760-name: 'kit760'
$kit760-x: 1149px
$kit760-y: 576px
$kit760-offset-x: -1149px
$kit760-offset-y: -576px
$kit760-width: 294px
$kit760-height: 278px
$kit760-total-width: 1886px
$kit760-total-height: 1425px
$kit760-image: 'sprite.png'
$kit760: (1149px, 576px, -1149px, -576px, 294px, 278px, 1886px, 1425px, 'sprite.png', 'kit760', )
$lefthead-name: 'lefthead'
$lefthead-x: 1814px
$lefthead-y: 729px
$lefthead-offset-x: -1814px
$lefthead-offset-y: -729px
$lefthead-width: 35px
$lefthead-height: 11px
$lefthead-total-width: 1886px
$lefthead-total-height: 1425px
$lefthead-image: 'sprite.png'
$lefthead: (1814px, 729px, -1814px, -729px, 35px, 11px, 1886px, 1425px, 'sprite.png', 'lefthead', )
$light-name: 'light'
$light-x: 0px
$light-y: 0px
$light-offset-x: 0px
$light-offset-y: 0px
$light-width: 1139px
$light-height: 937px
$light-total-width: 1886px
$light-total-height: 1425px
$light-image: 'sprite.png'
$light: (0px, 0px, 0px, 0px, 1139px, 937px, 1886px, 1425px, 'sprite.png', 'light', )
$plan1200-name: 'plan1200'
$plan1200-x: 1149px
$plan1200-y: 0px
$plan1200-offset-x: -1149px
$plan1200-offset-y: 0px
$plan1200-width: 737px
$plan1200-height: 566px
$plan1200-total-width: 1886px
$plan1200-total-height: 1425px
$plan1200-image: 'sprite.png'
$plan1200: (1149px, 0px, -1149px, 0px, 737px, 566px, 1886px, 1425px, 'sprite.png', 'plan1200', )
$plan320-name: 'plan320'
$plan320-x: 1453px
$plan320-y: 576px
$plan320-offset-x: -1453px
$plan320-offset-y: -576px
$plan320-width: 254px
$plan320-height: 254px
$plan320-total-width: 1886px
$plan320-total-height: 1425px
$plan320-image: 'sprite.png'
$plan320: (1453px, 576px, -1453px, -576px, 254px, 254px, 1886px, 1425px, 'sprite.png', 'plan320', )
$righthead-name: 'righthead'
$righthead-x: 1768px
$righthead-y: 729px
$righthead-offset-x: -1768px
$righthead-offset-y: -729px
$righthead-width: 36px
$righthead-height: 11px
$righthead-total-width: 1886px
$righthead-total-height: 1425px
$righthead-image: 'sprite.png'
$righthead: (1768px, 729px, -1768px, -729px, 36px, 11px, 1886px, 1425px, 'sprite.png', 'righthead', )
$scheme1-name: 'scheme1'
$scheme1-x: 1717px
$scheme1-y: 729px
$scheme1-offset-x: -1717px
$scheme1-offset-y: -729px
$scheme1-width: 41px
$scheme1-height: 25px
$scheme1-total-width: 1886px
$scheme1-total-height: 1425px
$scheme1-image: 'sprite.png'
$scheme1: (1717px, 729px, -1717px, -729px, 41px, 25px, 1886px, 1425px, 'sprite.png', 'scheme1', )
$scheme2-name: 'scheme2'
$scheme2-x: 1717px
$scheme2-y: 628px
$scheme2-offset-x: -1717px
$scheme2-offset-y: -628px
$scheme2-width: 40px
$scheme2-height: 40px
$scheme2-total-width: 1886px
$scheme2-total-height: 1425px
$scheme2-image: 'sprite.png'
$scheme2: (1717px, 628px, -1717px, -628px, 40px, 40px, 1886px, 1425px, 'sprite.png', 'scheme2', )
$scheme3-name: 'scheme3'
$scheme3-x: 1717px
$scheme3-y: 576px
$scheme3-offset-x: -1717px
$scheme3-offset-y: -576px
$scheme3-width: 42px
$scheme3-height: 42px
$scheme3-total-width: 1886px
$scheme3-total-height: 1425px
$scheme3-image: 'sprite.png'
$scheme3: (1717px, 576px, -1717px, -576px, 42px, 42px, 1886px, 1425px, 'sprite.png', 'scheme3', )
$scheme4-name: 'scheme4'
$scheme4-x: 1807px
$scheme4-y: 678px
$scheme4-offset-x: -1807px
$scheme4-offset-y: -678px
$scheme4-width: 40px
$scheme4-height: 31px
$scheme4-total-width: 1886px
$scheme4-total-height: 1425px
$scheme4-image: 'sprite.png'
$scheme4: (1807px, 678px, -1807px, -678px, 40px, 31px, 1886px, 1425px, 'sprite.png', 'scheme4', )
$scheme5-name: 'scheme5'
$scheme5-x: 1717px
$scheme5-y: 678px
$scheme5-offset-x: -1717px
$scheme5-offset-y: -678px
$scheme5-width: 38px
$scheme5-height: 41px
$scheme5-total-width: 1886px
$scheme5-total-height: 1425px
$scheme5-image: 'sprite.png'
$scheme5: (1717px, 678px, -1717px, -678px, 38px, 41px, 1886px, 1425px, 'sprite.png', 'scheme5', )
$scheme6-name: 'scheme6'
$scheme6-x: 1765px
$scheme6-y: 678px
$scheme6-offset-x: -1765px
$scheme6-offset-y: -678px
$scheme6-width: 32px
$scheme6-height: 41px
$scheme6-total-width: 1886px
$scheme6-total-height: 1425px
$scheme6-image: 'sprite.png'
$scheme6: (1765px, 678px, -1765px, -678px, 32px, 41px, 1886px, 1425px, 'sprite.png', 'scheme6', )
$scrolldown-name: 'scrolldown'
$scrolldown-x: 1859px
$scrolldown-y: 729px
$scrolldown-offset-x: -1859px
$scrolldown-offset-y: -729px
$scrolldown-width: 14px
$scrolldown-height: 6px
$scrolldown-total-width: 1886px
$scrolldown-total-height: 1425px
$scrolldown-image: 'sprite.png'
$scrolldown: (1859px, 729px, -1859px, -729px, 14px, 6px, 1886px, 1425px, 'sprite.png', 'scrolldown', )
$zoom-name: 'zoom'
$zoom-x: 1857px
$zoom-y: 678px
$zoom-offset-x: -1857px
$zoom-offset-y: -678px
$zoom-width: 20px
$zoom-height: 25px
$zoom-total-width: 1886px
$zoom-total-height: 1425px
$zoom-image: 'sprite.png'
$zoom: (1857px, 678px, -1857px, -678px, 20px, 25px, 1886px, 1425px, 'sprite.png', 'zoom', )
$spritesheet-width: 1886px
$spritesheet-height: 1425px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($arrowleft, $arrowright, $call, $createrline, $headingborder, $headingborderfff, $headingborderright, $headingborderrightblack, $kit1200, $kit760, $lefthead, $light, $plan1200, $plan320, $righthead, $scheme1, $scheme2, $scheme3, $scheme4, $scheme5, $scheme6, $scrolldown, $zoom, )
$spritesheet: (1886px, 1425px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
