+comment('general style')
+ic
@each $sprite in $spritesheet-sprites
  .ic--#{nth($sprite, 10)}
    &:before
      +bs($sprite) 
.ic
  vertical-align: top       
+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.error
  .form-control
    border-color: $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0
@keyframes fadeInUp 
  from 
    opacity: 0
    transform: translate3d(0, 100%, 0)
  to 
    opacity: 1
    transform: none
.fadeInUp 
  animation-name: fadeInUp
  animation-duration: 1.5s
a    
  &:hover,
  &:focus
    outline: none !important
button
  &:hover,
  &:focus
    outline: none !important    
.button
  &--size
    width: 100%    
+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)
  &.show
    display: flex !important
  &-dialog
    margin: auto
    position: relative
  &__size
    width: 500px
  &__content
    position: relative
    background: #fff
    padding: 60px 30px
    border: 0
    border-radius: 0
    text-align: center
    z-index: 25
    &--nopadding
      padding: 0
  &__light
    position: absolute
    left: 50%
    top: 50% 
    margin-left: -570px
    margin-top: -470px
  &__mobila
    position: absolute
    left: 90%
    top: 50%
    margin-top: -142px  
  &__close
    display: block
    height: 56px
    width: 56px
    background: #fff !important
    opacity: 1 !important 
    position: absolute
    right: 15px
    top: 0
    box-shadow: 5px 8.7px 15px rgba(0, 0, 0, 0.2)
    transition: all .3s ease
    &:hover,
    &:focus
      background: $color-orange !important
      .modal__close--icon
        fill: #000
        transition: all .3s ease
    &--icon
      fill: $color-orange 
  &__heading
    color: #000
    font: 700 22px/27px $font-lora
    margin-bottom: 15px
  &__subheading  
    position: relative
    color: #000
    font: 400 18px/27px $font-lora
    margin-bottom: 55px
  &__input
    background-color: #ebebeb !important
    box-shadow: 1px 1.7px 3px rgba(0, 0, 0, 0.35) !important
    margin-bottom: 30px
    &:hover,
    &:focus
      box-shadow: 3.5px 6.1px 15px rgba(0, 0, 0, 0.35) !important
  &__btn
    background-color: $color-orange
    text-align: center
    border: 0
    box-shadow: none
    cursor: pointer
    padding: 15px 20px
    margin-bottom: 10px
    &:hover,
    &:focus
      .modal__btn--text
        color: #fff
    &--text
      display: inline-block
      font: 600 18px/27px $font-open-sans
      text-transform: uppercase
      color: #212121
      transition: all .3s ease
  &__access
    color: #212121   
    font: 300 12px/18px $font-open-sans
+r(760)
  .modal
    &__close
      right: -65px
    &--size
      max-width: none
      width: 700px 
      .modal__close
        right: 0   
+r(992)
  .modal  
    &-lg
      width: 900px !important
      max-width: none
    &__mobila
      left: 100%   
    &--size
      width: 900px   
.checkbox-btn
  &__control
    display: none
    &:checked 
      &+ .checkbox-btn__box
        background-color: $color-orange
  &__box
    position: relative
    padding: 17px 20px 16px
    width: 100%
    font: 400 18px/20px $font-open-sans
    color: #212121
    text-shadow: 0 -1px 0 #b5b5b5
    overflow: hidden
    text-transform: uppercase
    cursor: pointer
    text-align: center
    background-color: #ebebeb 
.body
  display: flex
  flex-direction: column
  min-height: 100vh
.main
  flex: 1
+cm('heading')
.heading
  position: relative
  &__text
    color: #212121 
    font: 700 24px/36px $font-lora
    text-transform: uppercase
    &--white
      color: #fff
  &__icon
    position: absolute
    left: 50%
    margin-left: -50px
    bottom: -25px
+r(760)  
  .heading
    &__text
      font: 700 30px/45px $font-lora  
+comment("home page style")
.header
  padding: 25px 0 0
  background: url(../img/headerbg.jpg) no-repeat
  background-size: cover
  min-height: 100vh
  &--b
    background: url(../img/headerbg-b.jpg) no-repeat
    background-size: cover
    background-position: center
  &--c  
    background: url(../img/headerbgc.jpg) no-repeat
    background-size: cover
    background-position: center
  &--2
    background: url(../img/headerbg2.jpg) no-repeat
    background-size: cover
  &__container
    position: relative
  &__row
    margin-bottom: 40px  
  &__logo
    position: absolute
    left: 50%
    top: -25px
    margin-left: -84px
    display: inline-block
  &__heading
    position: relative
    z-index: 10
    color: $color-orange
    font: 400 12px/18px $font-open-sans
  &__contact
    text-align: right  
    position: relative
    z-index: 10
  &__number
    display: block  
  &__link
    font: 600 14px/21px $font-open-sans
    color: #fff   
    &:hover,
    &:focus
      text-decoration: none
      color: $color-orange 
  &__call
    &--text
      display: inline-block
      font: 400 11px/27px $font-open-sans   
      color: $color-orange
    .ic
      margin-right: 10px
  &__title
    display: inline-block
    position: relative
    font: 700 36px/37px $font-lora
    color: #fff
    text-transform: uppercase   
    margin-bottom: 20px
    &--b
      text-shadow: 2.5px 4.3px 10px rgba(0, 0, 0, 0.55)
    .ic
      position: absolute
      &--lefthead
        bottom: 35px
        left: -8px
      &--righthead
        bottom: 35px
        right: -8px  
  &__subtitle
    font: 400 24px/36px $font-lora
    color: #fff
    margin-bottom: 30px
    &--b
      margin-bottom: 30px
  &__text
    font: 400 14px/20px $font-open-sans  
    color: $color-orange 
    margin-bottom: 15px
    &--b
      color: #fff
  &__btn
    background-color: #e7b869
    cursor: pointer
    border-radius: 0
    padding: 12px 20px 10px
    margin-bottom: 90px
    white-space: normal
    &:hover,
    &:focus
      .header__btn--text
        &:before
          left: 0
    &--b
      background: #fff      
    &--text
      position: relative
      display: inline-block
      font: 600 14px/21px $font-open-sans 
      color: #212121
      text-transform: uppercase
      overflow-x: hidden
      &:before
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 1px
        background-color: #212121
        bottom: 0
        left: -100%
        transition: all .6s ease
  &__scroll
    text-align: center
    &--link
      text-align: center
      position: relative
      display: inline-block
      cursor: pointer
      height: 40px
      width: 40px
      border-radius: 50%
      background-color: rgba(255, 255, 255, 0.2)
      border: 1px solid rgba(255, 255, 255, 0.5)   
      line-height: 36px   
      &:hover,
      &:focus
        background-color: rgba(255, 255, 255, 0.4)
    &--circle
      &-1
        position: absolute
        display: inline-block
        height: 6px
        width: 6px
        bottom: -15px
        left: 50%
        margin-left: -3px
        background-color: #FFF
        border-radius: 50%  
      &-2
        position: absolute
        display: inline-block
        height: 4px
        width: 4px
        bottom: -26px
        left: 50%
        margin-left: -2px
        background-color: #FFF
        border-radius: 50%  
      &-3    
        position: absolute
        display: inline-block
        height: 2px
        width: 2px
        bottom: -35px
        left: 50%
        margin-left: -1px
        background-color: #FFF
        border-radius: 50%   
+r(760)         
  .header
    padding: 25px 0 60px
    &__row
      margin-bottom: 150px
    &__logo
      margin-left: -179px
    &__heading
      font: 400 18px/27px $font-open-sans
    &__link
      font: 600 28px/30px $font-open-sans
    &__call
      &--text
        font: 400 18px/27px $font-open-sans 
    &__title
      font: 700 48px/50px $font-lora    
      margin-bottom: 30px
      .ic
        position: absolute
        &--lefthead
          bottom: auto
          left: -100px
        &--righthead
          bottom: auto
          right: -100px
    &__subtitle
      font: 400 30px/45px $font-lora
      margin-bottom: 100px
      &--b
        margin-bottom: 30px
    &__text
      font: 400 18px/20px $font-open-sans 
    &__btn
      &--text
        font: 600 18px/30px $font-open-sans  
+comment("intro style")
.intro
  padding: 80px 0
  background-color: #FFF      
  &__heading
    margin-bottom: 70px  
  &__box
    text-align: center  
  &__text  
    color: #050505
    font: 400 18px/27px $font-lora
    margin-bottom: 20px
    &--span
      font: 700 18px/27px $font-lora
  &__image
    text-align: center
    margin-bottom: 25px
    line-height: 196px
  &__img 
    display: inline-block    
+r(992)
  .intro
    &__text
      margin-bottom: 0      
+comment("video style")
.video
  position: relative
  height: 550px
  &__container
    position: relative
    img
      position: absolute
      top: 230px
      right: 50%
    &:before
      content: ''
      position: absolute
      display: block
      right: 0
      top: 160px
      width: 100%
      height: 400px
      background: url(../img/setkasm.png) repeat
  &__heading
    margin-top: 45px  
  &__loader
    display: inline-block
    position: relative
    top: -100px
    cursor: pointer
    &:hover
      &:before
        background-color: $color-orange 
      &:after
        color: #fff  
    &:before
      content: ''
      display: block
      position: absolute
      left: 50%
      top: 50%
      margin-left: -38px
      margin-top: -41px
      width: 76px
      height: 76px
      background-color: rgba(255,255,255, .6)
      border-radius: 50%
      transition: all .3s ease
    &:after
      content: '\f0da'
      display: inline-block
      position: absolute
      font-size: 30px
      color: $color-orange 
      line-height: 106px
      left: 50%
      top: 0
      margin-left: -4px
      font-family: $font-awesome  
      transition: all .3s ease  
  &__time
    font: 700 120px/120px $font-lora     
    position: relative
    display: inline-block
    top: 150px
    color: $color-orange 
    text-shadow: 7.5px 13px 25px rgba(0, 0, 0, 0.2)
  &__elem   
    position: absolute
    color: #212121
    font: 400 16px/20px $font-open-sans 
    &--1
      top: 50px
    &--2  
      top: 85px
      left: 40px 
+r(480)
  .video
    &__loader
      top: 50px             
+r(760)
  .video
    &__image
      position: absolute
      left: 0
      top: 200px
      max-width: 45%
      z-index: 10
    &__time
      font: 700 219px/220px $font-lora     
      position: relative
      display: inline-block
      top: 150px
      color: $color-orange 
      text-shadow: 7.5px 13px 25px rgba(0, 0, 0, 0.2)
    &__elem   
      position: absolute
      color: #212121
      font: 400 18px/20px $font-open-sans 
      &--1
        top: 85px
      &--2  
        top: 150px
        left: 90px
    &__loader
      top: 0     
+r(1200)
  .video
    &__image
      top: 0             
+comment("tool style")      
.tool
  padding: 80px 0
  &__subheading
    color: #212121
    font: 400 18px/21px $font-lora
    margin: 50px 0
  &__elem
    position: relative
    &--1
      &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        right: 0
        top: -115px
        height: 390px
        background: url(../img/setkasm.png) repeat
    &--2
      padding-bottom: 35px
      .tool__image
        margin-bottom: 20px
      &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        right: 0
        top: 250px
        height: 300px
        background: url(../img/setkasm.png) repeat 
    &--3
      &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        right: 0
        top: 120px
        height: 333px
        background: url(../img/setkasm.png) repeat 
    &--4,
    &--5
      .tool__image
        margin-bottom: 20px     
  &__row
    margin-bottom: 40px 
  &__name  
    position: relative
    color: #212121
    font: 700 22px/24px $font-open-sans 
    text-transform: uppercase
    margin-bottom: 50px
    &--link
      display: inline-block
      position: relative
    &--span
      font: 400 22px/24px $font-lora
      color: $color-orange 
    &:before
      content: ''
      display: block
      position: absolute
      top: -15px
      left: 0
      height: 1px
      width: 200px
      background-color: $color-orange
    &:after
      content: ''
      display: block
      position: absolute
      bottom: -15px
      left: 0
      height: 1px
      width: 200px
      background-color: $color-orange
  &__text
    color: #212121
    font: 400 18px/27px $font-lora
  &__image
    position: relative
    z-index: 20  
+r(760)
  .tool
    &__row
      margin-bottom: 0
    &__image
      img
        transform: scale(0.8)  
    &__elem
      &--1 
        &:before
          height: 400px
          width: 70%
          top: 0
      &--2  
        margin-top: 20px  
        &:before
          content: none
      &--3
        margin-bottom: 130px
        &:before
          height: 300px
          width: 75%
          top: 85px
      &--4
        &:before
          content: none    
      &--5
        &:before
          content: ''
          display: block
          position: absolute
          width: 60%
          left: 0
          top: -130px
          height: 333px
          background: url(../img/setkasm.png) repeat 
      &--4,
      &--5
        .tool__image
          margin-bottom: 0    
    &__box
      &--1
        padding: 60px 0 50px
      &--2
        padding-top: 60px   
      &--3
        padding: 0
      &--4
        padding-bottom: 190px 
      &--5
        margin-top: -40px  
    &__name    
      font: 700 23px/30px $font-open-sans 
+r(992)
  .tool
    &__name      
      font: 700 26px/30px $font-open-sans 
    &__elem
      &--1
        &:before
          width: 60%
          height: 460px
          top: 55px
      &--2
        margin-top: -20px    
      &--3
        margin-bottom: 200px
        &:before
          width: 60%
          height: 560px
          top: -50px 
      &--5
        &:before
          width: 60%
          height: 460px
          top: -228px    
    &__box
      &--1
        padding-top: 100px   
      &--2
        padding-top: 180px       
      &--3
        padding-top: 70px  
      &--4
        padding-top: 100px  
        padding-bottom: 0
        margin-bottom: 150px
      &--5
        padding: 0
        margin-top: 40px
+r(1200)
  .tool    
    &__box
      &--5
        margin-top: 80px    
+comment("price style")      
.price
  padding: 90px 0
  background-color: #e9e9e9
  background-image: linear-gradient(to top, white 0%, #e9e9e9 100%)
  overflow: hidden
  &__heading
    margin-bottom: 50px
  &__title
    color: $color-orange
    font: 700 22px/33px $font-lora
    text-transform: uppercase
    margin-bottom: 25px
    text-align: center
  &__text
    color: #212121
    font: 400 18px/27px $font-open-sans 
    text-align: center
    &--span
      font: 700 18px/27px $font-open-sans
    &--link
      display: inline-block
      position: relative
      transition: all .3s ease
      cursor: pointer
      &:hover,
      &:focus
        span
          opacity: 1
          visibility: visible
      span
        width: 300px
        background: #fff
        padding: 15px
        display: inline-block
        position: absolute
        left: -135px
        top: 0
        visibility: hidden
        opacity: 0
        transition: all .3s ease
        font: 400 14px/18px $font-open-sans
        text-align: left
  &__image
    display: inline-block 
    position: relative   
    box-shadow: 0 30px 80px rgba(0,0,0,.2)
  &__zoom
    position: absolute
    left: 50%
    top: 50%
    margin-top: -27px
    margin-left: -27px  
    display: block
    height: 54px
    width: 54px
    background-color: #fff
    border-radius: 50%
    line-height: 54px
    box-shadow: 15px 26px 80px rgba(0, 0, 0, 0.2)
    cursor: pointer
    transition: all .3s ease
    &:hover,
    &:focus
      background-color: $color-orange
      transform: scale(1.2)
+r(576)
  .price
    &__text
      &--link
        span
          left: -200px      
+r(760)
  .price
    &__title      
      font: 700 24px/33px $font-lora
      text-align: left
    &__text
      text-align: left
      &--link
        span
          left: 50%
          margin-left: -150px
+r(992)
  .price
    &__box
      padding-top: 30px
    &__bg
      position: absolute
      right: 0
      bottom: 0      
      img
        max-width: 250px
+r(1200) 
  .price
    position: relative
    &__box
      padding-top: 60px
+r(1600)
  .price        
    &__bg
      img  
        max-width: none   
+comment("cost style")        
.cost
  padding: 85px 0
  background: url(../img/costbg.jpg) no-repeat
  background-size: cover
  background-attachment: fixed
  &__heading
    margin-bottom: 40px
  &__subheading
    color: #fff
    font: 400 18px/27px $font-lora
    margin-bottom: 35px
.input
  &__heading
    color: $color-orange
    font: 300 18px/27px $font-open-sans
    margin-bottom: 10px  
    &--black
      color: #212121
.form
  &__group
    margin-bottom: 20px
    position: relative
    .help-block
      position: absolute
      top: 100%
      left: 15px
  &__input    
    border-radius: 0
    background-color: #FFF
    padding: 14px 20px
    color: #212121
    font: 300 18px/26px $font-open-sans
    border: 0
    +placeholder
      color: #212121
      font: 300 18px/26px $font-open-sans  
    &:focus
      box-shadow: 0 0 4px 1px $color-orange
  &__btn
    border: 3px solid white
    box-shadow: 7.5px 13px 35px rgba(0, 0, 0, 0.25) 
    background: transparent
    color: $color-orange  
    font: 600 16px/26px $font-open-sans
    text-transform: uppercase
    padding: 11px 20px
    text-align: center
    cursor: pointer
    transition: all .3s ease
    &:hover,
    &:focus
      background-color: #FFF
+r(760)
  .form      
    &__group
      margin-bottom: 0
+r(992)
  .form      
    &__btn  
      font: 600 18px/26px $font-open-sans
+comment("scheme style")       
.scheme
  padding: 85px 0
  &__heading
    margin-bottom: 30px
  &__container
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: 0
      height: 85%
      width: 100%
      background: url(../img/setkasm.png) repeat  
  &__col
    position: relative   
  &__box
    display: inline-block
    position: relative
    text-align: center
    margin-bottom: 120px  
    cursor: pointer
  &__date
    color: $color-orange 
    font: 700 14px/16px $font-lora 
    margin-bottom: 20px
  &__image
    position: relative
    display: inline-block
    height: 116px
    width: 116px
    border-radius: 50%
    background-color: white
    box-shadow: 5px 8.7px 30px rgba(0, 0, 0, 0.1)  
    text-align: center 
  &__number
    position: absolute
    display: inline-block
    left: 5px
    top: 5px
    height: 26px
    width: 26px
    background-color: $color-orange  
    border-radius: 50%
    color: #fff
    font: 700 14px/24px $font-lora
  &__descr
    img
      display: inline-block
      margin: 10px auto
      max-height: 150px  
      max-width: 50%
  &__text  
    position: absolute
    display: inline-block
    width: 200px
    left: 50%
    margin-left: -100px
    bottom: -60px
    color: #212121
    font: 400 18px/27px $font-open-sans
  &__img
    display: inline-block
    height: 58px
    width: 58px 
    line-height: 110px
    img
      position: relative
      z-index: 25
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 50%
      margin-left: -13px
      margin-top: -13px
      display: block
      height: 26px
      width: 26px
      background-color: $color-orange 
  &__hover
    display: none  
  &__icon
    width: 0
.date
  margin-bottom: 40px
  &__icon
    margin-right: 10px
    line-height: 45px
  &__info
    display: inline-block  
  &__text  
    color: #212121 
    font: 700 18px/26px $font-lora
    text-transform: uppercase
  &__number 
    color: $color-orange
    font: 700 18px/20px $font-lora 
+r(760)
  .scheme
    &__icon
      z-index: -1
      &--1,
      &--4  
        display: inline-block
        position: absolute
        bottom: 20px
        left: 80%
        height: 51px
        background: url(../img/schemeline.png) no-repeat
        background-size: auto
      &--2,
      &--5  
        display: inline-block
        position: absolute
        top: 50px
        left: 92%
        height: 51px
        background: url(../img/schemeline2.png) no-repeat
        background-size: auto
      &--active
        width: 280px
        transition: all 2s ease-out
    &__hover
      display: block
      position: absolute   
      opacity: 0
      visibility: hidden
      left: 0
      top: 0
      width: 100%
      height: auto
      text-align: left
      background-color: white
      box-shadow: 10px 17.3px 40px rgba(0, 0, 0, 0.2)
      padding: 25px
      transition: visible, opacity .5s ease
      z-index: 50
      &--visible
        opacity: 1
        visibility: visible
    &__title
      position: relative
      color: $color-orange  
      font: 600 18px/27px $font-open-sans
      margin-bottom: 20px
      &:before
        content: ''
        position: absolute
        left: 0
        bottom: -10px
        display: block
        width: 120px
        height: 1px
        background-color: $color-orange
    &__descr
      color: #212121
      font: 400 14px/21px $font-lora
+r(992)
  .scheme
    &__heading
      margin-bottom: 80px    
  .date
    margin-bottom: 0    
+r(1200)
  .date
    padding-top: 15px        
+comment("case style")      
.case
  padding: 100px 0
  background-color: #e9e9e9
  background-image: linear-gradient(to top, white 0%, #e9e9e9 100%)
  &__heading
    margin-bottom: 80px
  &__image
    position: relative 
    img
      max-width: 100%
      height: auto
  &__name
    color: $color-orange
    font: 700 22px/24px $font-lora 
    padding: 30px 0
    text-align: center
    background-color: white
    box-shadow: 10px 17.3px 40px rgba(0, 0, 0, 0.1) 
    text-transform: uppercase
    margin-bottom: 25px
  &__elem
    margin-bottom: 30px  
  &__title
    position: relative
    color: #212121
    font: 700 18px/24px $font-lora 
    margin-bottom: 20px
    &:before
      content: ''
      position: absolute
      display: block
      height: 1px
      width: 166px
      background-color: #212121
      left: 0
      bottom: -5px
  &__text    
    color: #212121
    font: 400 16px/24px $font-open-sans
  &__detail
    color: $color-orange
    font: 700 16px/24px $font-lora  
  &__value
    color: #212121
    font: 400 16px/24px $font-lora 
  &__dots
    position: relative 
    width: 190px 
    margin: 0 auto
  &__arrows
    position: relative
    display: block
    width: 160px
    margin: 50px auto 0
    z-index: 25
    height: 75px    
    .slick
      &-arrow
        transition: all .3s ease
        &:hover,
        &:focus
          background-color: $color-orange
          top: -15px
      &-prev
        left: 0
        top: 0
      &-next
        right: 0
        top: 0   
  &__info
    &--mob
      display: none                   
+r(760)
  .case     
    &__image
      margin-bottom: 30px
    &__name
      position: relative
      left: -30px
      text-align: left
      padding-left: 30px  
    &__point
      margin-bottom: 10px 
    &__info
      &--desctop
        display: none    
    &__arrows
      margin: 50px 0 0 0  
      display: inline-block
      top: -90px
    &__dots
      display: inline-block 
      position: relative
      margin-left: 90px
      top: -100px
      .slick-dots
        bottom: 50px  
+r(992)
  .case
    &__arrows
      top: 0
    &__dots
      top: 0               
+r(1200)
  .case
    overflow: hidden
    &__image
      margin: 0
      img
        position: absolute
        right: 0
        top: 0 
        max-width: none
    &__name
      left: -228px
      padding-left: 105px  
    &__info
      &--desctop
        display: block  
    &__arrows
      display: block
      margin-left: 260px 
      top: -186px    
    &__dots
      position: static
      margin-left: 0 
      .slick-dots
        bottom: 100px 
+r(1366)
  .case 
    &__arrows
      top: -126px   
+r(1600)        
  .case 
    &__arrows
      top: -66px  
.container
  &--size
    width: 100% !important
    padding: 0 !important        
.slick
  &-slide
    outline: none !important
  &-arrow
    height: 66px
    width: 66px
    background-color: white
    box-shadow: 5px 8.7px 15px rgba(0, 0, 0, 0.2)  
  &-dots
    li
      button
        height: 20px
        width: 20px
        background-color: #FFF     
        border: 4px solid $color-orange
        &:before
          content: ''
    .slick-active
      button
        &:before
          content: ''
          position: absolute
          left: 6px
          top: 6px
          display: block
          height: 8px
          width: 8px
          background-color: #212121      
+comment("progress style")    
.progress
  padding: 50px 0 70px 
  &__container
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      height: 400px
      width: 80%
      right: 0
      top: 300px
      background: url(../img/setkasm.png) repeat    
  &__heading
    margin-bottom: 30px   
  &__creater
    padding: 25px 15px
    background-color: #FFF
    box-shadow: 10px 17.3px 40px rgba(0, 0, 0, 0.1)
    text-align: center
  &__box
    padding-top: 30px  
  &__name
    color: $color-orange
    font: 700 26px/30px $font-lora  
    text-transform: uppercase
  &__position
    color: #212121
    font: 600 18px/20px $font-open-sans  
    margin-top: 10px
  &__item
    text-align: left
  &__text
    color: #212121  
    font: 400 20px/24px $font-open-sans 
    margin-bottom: 25px
    &:before
      content: '\f00c'
      display: inline-block
      width: 26px
      height: 26px
      line-height: 22px
      text-align: center
      color: $color-orange
      border-radius: 50%
      border: 3px solid $color-orange
      font-family: $font-awesome
      font-size: 16px
      margin-right: 10px
+r(760)
  .progress
    &__box
      padding-top: 0
    &__text
      font: 400 22px/32px $font-open-sans 
      margin-bottom: 30px
    &__container
      &:before
        top: auto
        bottom: -65px  
+r(992)
  .progress
    padding-bottom: 100px
    &__container
      &:before
        width: 1000px
        right: -228px
        bottom: 100px
    &__box      
      padding-top: 30px
    &__text
      margin-bottom: 30px  
+r(1200)
  .progress
    &__image
      position: relative 
    &__creater
      position: absolute
      padding-left: 90px
      width: 100%
      right: -85%
      bottom: 50px    
      .ic
        position: absolute
        left: 20px
        top: 40%    
+comment("plan style") 
.plan
  padding: 90px 0 0
  background-color: $color-orange   
  &__container
    position: relative  
    padding-bottom: 90px
  &__row
    position: relative
    z-index: 25  
  &__heading
    margin-bottom: 45px
  &__subheading
    color: #FFF
    font: 400 18px/27px $font-lora  
    margin-bottom: 30px
    &--span
      display: block   
      font: 700 18px/27px $font-lora  
  &__btn   
    background-color: #fff
    box-shadow: 7.5px 13px 35px rgba(0, 0, 0, 0.15)
    &:hover,
    &:focus
      .plan__btn--text
        &:before
          left: 0 
    &--text
      color: #212121
      font: 600 13px/26px $font-open-sans
      display: inline-block
      position: relative
      overflow-x: hidden
      &:before
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 1px
        background-color: #212121
        bottom: 0
        left: -100%
        transition: all .6s ease
  &__icon
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -147px
    z-index: 5
+r(760)
  .plan
    &__container
      padding-bottom: 100px
    &__btn
      margin-top: 15px
      padding: 8px 15px
      &--text   
        font: 600 18px/26px $font-open-sans 
    &__icon
      left: 0
      margin: 0        
  .form
    &__input
      &--small
        width: auto  
+r(992)
  .plan
    &__icon
      left: -180px   
+r(1200)
  .plan
    &__heading
      .ic
        left: 0
        margin: 0
    &__icon
      left: -160px    
  .form
    &__input
      &--small
        width: 100%            
+comment("comment style")        
.comment
  padding: 90px 0 0
  background-color: #e9e9e9
  background-image: linear-gradient(to top, white 0%, #e9e9e9 100%)
  &__heading
    margin-bottom: 85px  
  &__slider
    margin-bottom: 0 !important  
  &__image
    position: relative
    img
      position: relative
      z-index: 10
  &__button
    position: absolute
    top: 50%
    left: 50%
    margin-left: -55px
    margin-top: -55px   
    z-index: 50 
  &__loader
    display: inline-block
    position: relative
    cursor: pointer
    &:hover
      &:before
        background-color: $color-orange 
      &:after
        color: #fff  
    &:before
      content: ''
      display: block
      position: absolute
      left: 50%
      top: 50%
      margin-left: -38px
      margin-top: -41px
      width: 76px
      height: 76px
      background-color: rgba(255,255,255, .6)
      border-radius: 50%
      transition: all .3s ease
    &:after
      content: '\f0da'
      display: inline-block
      position: absolute
      font-size: 30px
      color: $color-orange 
      line-height: 106px
      left: 50%
      top: 0
      margin-left: -4px
      font-family: $font-awesome  
      transition: all .3s ease 
  &__name  
    position: relative
    color: $color-orange
    font: 700 22px/30px $font-lora 
    padding: 30px 20px
    text-align: center
    background-color: white
    box-shadow: 10px 17.3px 40px rgba(0, 0, 0, 0.1) 
    text-transform: uppercase
    margin-bottom: 25px
    z-index: 25
  &__info
    padding-top: 40px
  &__text  
    color: #212121
    font: 400 16px/24px $font-open-sans
  &__arrows
    position: relative
    display: block
    width: 160px
    margin: 50px auto 0
    z-index: 25
    height: 75px    
    .slick
      &-arrow
        transition: all .3s ease
        &:hover,
        &:focus
          background-color: $color-orange
          top: -15px
      &-prev
        left: 0
        top: 0
      &-next
        right: 0
        top: 0
  &__dots
    position: relative 
    width: 120px 
    margin: 0 auto  
  &__iframe
    position: relative
    height: 300px
    iframe
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%   
  &__modal
    margin: auto
    width: 320px   
    .modal__close
      top: -55px 
+r(760)
  .comment
    &__name
      position: relative
      left: -30px
      text-align: left
      padding-left: 30px          
    &__arrows
      margin: 50px 0 0 0  
      display: inline-block
      top: -200px
    &__dots
      display: inline-block 
      position: relative
      top: -210px
      .slick-dots
        bottom: 40px 
    &__iframe
      position: relative
      height: 480px  
    &__modal
      width: 600px
      max-width: none  
      .modal__close
        top: 0   
+r(992)
  .comment
    &__arrows
      display: block
      margin-left: 180px
      top: -66px
    &__dots
      position: static
      .slick-dots
        left: 0
        bottom: 115px 
        padding-left: 110px  
    &__name
      left: -228px
      padding-left: 105px
    &__modal
      width: 800px  
+r(1200)      
  .comment
    &__dots
      .slick-dots
        bottom: 256px
+r(1600)      
  .comment
    &__arrows
      margin-left: 270px
    &__dots
      .slick-dots
        bottom: 156px   
+comment("certificate style")   
.certificate
  padding: 100px 0 
  &__container
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      height: 340px
      width: 30%
      left: 0
      top: 30px
      background: url(../img/setkasm.png) repeat 
  &__heading
    margin-bottom: 70px   
  &__item
    text-align: center
  &__box
    position: relative
    display: inline-block           
  &__zoom
    position: absolute
    left: 50%
    top: 50%
    margin-top: -27px
    margin-left: -85px  
    display: block
    height: 54px
    width: 54px
    background-color: #fff
    border-radius: 50%
    line-height: 54px
    box-shadow: 15px 26px 80px rgba(0, 0, 0, 0.2)
    cursor: pointer
    transition: all .3s ease
    &:hover,
    &:focus
      background-color: $color-orange
      transform: scale(1.2)
  &__arrows
    margin: 40px auto 0
    width: 120px  
    position: relative  
    .slick
      &-arrow
        transition: all .3s ease
        &:hover,
        &:focus
          background-color: $color-orange  
          top: -15px 
+r(760)
  .certificate
    padding-top: 0
    &__container
      &:before
        top: -30px
        width: 600px  
        left: -300px      
    &__zoom
      margin-left: -65px 
+r(992)
  .certificate   
    &__zoom
      margin-left: -80px 
+r(1200)
  .certificate      
    &__container
      &:before
        height: 500px
        top: -50px
        width: 44%  
        left: 0  
    &__arrows
      margin-top: 85px    
+comment("contact style")   
.contact
  position: relative
  padding: 75px 0 0
  #map
    display: block
    height: 300px
    width: 100% 
  &__info
    position: relative
    z-index: 25
    padding: 60px 30px
    margin: 0 -15px
    background-color: white
    box-shadow: 10px 17.3px 40px rgba(0, 0, 0, 0.2) 
  &__heading
    margin-bottom: 65px
    .ic
      left: 0
      margin: 0  
  &__point
    margin-bottom: 45px    
  &__name
    color: $color-orange
    font: 400 14px/18px $font-lora 
    margin-bottom: 10px
  &__text
    color: #212121 
    font: 700 14px/20px $font-open-sans
    text-transform: uppercase    
+r(760)
  .contact
    padding-bottom: 75px
    &__info
      padding: 60px  
      margin: 0  
    #map
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
+comment("footer style")    
.footer
  padding: 40px 0 30px    
  background: url(../img/footerbg.jpg) no-repeat
  background-size: cover
  &__logo
    padding: 30px
    border: 2px solid $color-orange
    margin-bottom: 20px
    &--img
      text-align: center
      img
        display: inline-block
    &--text
      display: inline-block
      vertical-align: middle
      text-align: center
      color: $color-orange
      font: 400 14px/21px $font-lora  
  &__question
    color: #fff
    font: 400 14px/21px $font-open-sans
    text-transform: uppercase   
    margin-bottom: 20px
  &__btn
    @extend .form__btn  
    margin-bottom: 15px   
  &__copy
    color: #fff
    font: 300 12px/26px $font-open-sans
    text-align: center
  &__author
    text-align: center
    &--link
      display: inline-block  
#footer__modal
  .modal
    &__subheading
      text-align: left
      .ic
        left: 0
        margin: 0     
+r(760)
  .footer
    padding: 45px 0
    &__logo
      margin-bottom: 0
    &__question        
      font: 700 14px/21px $font-open-sans
      margin-bottom: 0
    &__box
      padding-top: 55px  
+r(992)
  .footer
    &__question        
      font: 700 18px/30px $font-open-sans
+r(760)
  @keyframes widthAnimate1
    0 
      width: 0
    25%
      width: 180px
    100%
      width: 180px
  @keyframes widthAnimate2
    0 
      width: 0
    25%
      width: 0
    50% 
      width: 180px
    100%
      width: 180px
  @keyframes widthAnimate3
    0 
      width: 0
    50% 
      width: 0
    75%
      width: 180px
    100%
      width: 180px
  @keyframes widthAnimate4
    0 
      width: 0
    75% 
      width: 0
    100%
      width: 180px
  .scheme__icon--1  
    animation: widthAnimate1 8s infinite 
  .scheme__icon--2
    animation: widthAnimate2 8s infinite  
  .scheme__icon--4
    animation: widthAnimate3 8s infinite 
  .scheme__icon--5
    animation: widthAnimate4 8s infinite 
+r(992)
  @keyframes widthAnimate1
    0 
      width: 0
    25%
      width: 220px
    100%
      width: 220px
  @keyframes widthAnimate2
    0 
      width: 0
    25%
      width: 0
    50% 
      width: 220px
    100%
      width: 220px
  @keyframes widthAnimate3
    0 
      width: 0
    50% 
      width: 0
    75%
      width: 220px
    100%
      width: 220px
  @keyframes widthAnimate4
    0 
      width: 0
    75% 
      width: 0
    100%
      width: 220px
+r(1200)       
  @keyframes widthAnimate1
    0 
      width: 0
    25%
      width: 289px
    100%
      width: 289px
  @keyframes widthAnimate2
    0 
      width: 0
    25%
      width: 0
    50% 
      width: 289px
    100%
      width: 289px
  @keyframes widthAnimate3
    0 
      width: 0
    50% 
      width: 0
    75%
      width: 289px
    100%
      width: 289px
  @keyframes widthAnimate4
    0 
      width: 0
    75% 
      width: 0
    100%
      width: 289px
+comment("confident style")       
.confident
  &__title
    font: 400 22px/26px $font-open-sans
    color: #212121
    margin-bottom: 20px
  &__subtitle  
    color: #212121
    font: 400 16px/20px $font-open-sans
    text-align: left
    margin-bottom: 20px
  &__heading
    font: 400 22px/26px $font-open-sans
    color: #212121
    margin: 20px 0
  &__text  
    color: #212121
    font: 400 16px/20px $font-open-sans
    text-align: left
    margin-bottom: 0
  ul 
    li
      text-align: left
+comment("success style")     
.header 
  &--success
    background: url(../img/headersuccessbg.jpg) no-repeat
    background-size: cover
  &__heading
    &--fff
      color: #fff
.success     
  &__heading
    margin-bottom: 20px
    &--text
      color: $color-orange
      font: 700 30px/36px $font-lora
    &--span
      display: block
      font: 700 40px/52px $font-lora
      text-transform: uppercase
  &__text
    text-shadow: 1px 1.7px 5px rgba(0, 0, 0, 0.75)
    color: #fefefe
    font: 400 20px/26px $font-lora
    margin-bottom: 20px
+r(760)
  .success
    &__heading
      &--span    
        font: 700 70px/72px $font-lora
    &__text    
      font: 400 24px/36px $font-lora