extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header3.pug
block content
  include partials/_call.pug
  include partials/_descr.pug
  include partials/_intro.pug
  //- include partials/_video.pug
  include partials/_scheme.pug
  include partials/_case.pug
  include partials/_plan.pug 
  include partials/_progress.pug 
  include partials/_tool.pug
  include partials/_price.pug
  include partials/_cost.pug
  include partials/_comment.pug
  //- include partials/_certificate.pug
  include partials/_contact.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug

